[Unit]
Description=test module
After=syslog.target network.target

[Service]
User=hs
WorkingDirectory=/opt/test/
ExecStart=/opt/mod_core/bin/mod_core --spring.config.location=/opt/ezd_config/mod_core.properties --server.port=8082 >> /opt/mod_core/logs/console.out
ExecStop=curl -X POST localhost:8082/shutdown
Restart=on-failure
LimitNOFILE=50000

[Install]
WantedBy=multi-user.target